[submodule "afl_integration/afl-2.52b_kscheduler"]
	path = afl_integration/afl-2.52b_kscheduler
	url = git@github.com:LeoneChen/AFL.git
[submodule "libfuzzer_integration/llvm_11.0.1"]
	path = libfuzzer_integration/llvm_11.0.1
	url = git@github.com:LeoneChen/llvm-project.git
